# SUBIR MULTAS

# IMPORTANDO LIBRERIAS

In [38]:
import pandas as pd
import MySQLdb

# CONEXION A LA BASE DE DATOS

In [39]:
db = MySQLdb.connect(host="172.18.55.6",    # tu host, usualmente localhost
                     user="comandato",         # tu usuario
                     passwd="comandato123",  # tu password
                     db="SISTEMECUADOR_ATM")        # el nombre de la base de datos
cur= db.cursor()

# FECHAS DE COMPARACION

### FECHA ACTUAL

In [40]:
Anio_act='2019'
Mes_act='01'
Dia_act='22'

### FECHA ANTERIOR

In [41]:
Anio_ant='2019'
Mes_ant='01'
Dia_ant='21'

# CARACTERISTICA DE LOS ARCHIVOS

### ACTUALES

In [42]:
corr_act={
    'ruta':'..\..\..\..\BASES DATATOOLS\ASIGNACION\\2019\\ENERO\Sistema de cobro_'+Dia_act+'_'+Mes_act+'_'+Anio_act+'.xlsx',
    'hoja':'Asignacion',
    'cartera':'CORRIENTE',
    'identificador':'IDENTIFICACION_DEUDOR'
}

men_act={
    'ruta':'..\..\..\..\BASES DATATOOLS\ASIGNACION\\2019\\ENERO\Sistema de cobro_'+Dia_act+'_'+Mes_act+'_'+Anio_act+'.xlsx',
    'hoja':'Menores',
    'cartera':'MENOR',
    'identificador':'IDENTIFICACION_DEUDOR'
}

conv_act={
    'ruta':'..\..\..\..\BASES DATATOOLS\ASIGNACION\\2019\\ENERO\CONVENIOS_SISTEM_'+Dia_act+'_'+Mes_act+'_'+Anio_act+'.xlsx',
    'hoja':'Hoja1',
    'cartera':'CONVENIOS',
    'identificador':'NUMERO_IDENTIFICACION'
}

dem_act={
    'ruta':'..\..\..\..\BASES DATATOOLS\ASIGNACION\\2019\\ENERO\Sistema de cobro_'+Dia_act+'_'+Mes_act+'_'+Anio_act+'.xlsx',
    'hoja':'Demografico',
    'cartera':'DEMOGRAFICO',
    'identificador':'IDENTIFICACION_DEUDOR'
}

###  ANTERIORES

In [43]:
corr_ant={
    'ruta':'..\..\..\..\BASES DATATOOLS\ASIGNACION\\2019\\ENERO\Sistema de cobro_'+Dia_ant+'_'+Mes_ant+'_'+Anio_ant+'.xlsx',
    'hoja':'Asignacion',
    'cartera':'CORRIENTE',
    'identificador':'IDENTIFICACION_DEUDOR'
}

men_ant={
    'ruta':'..\..\..\..\BASES DATATOOLS\ASIGNACION\\2019\\ENERO\Sistema de cobro_'+Dia_ant+'_'+Mes_ant+'_'+Anio_ant+'.xlsx',
    'hoja':'Menores',
    'cartera':'MENOR',
    'identificador':'IDENTIFICACION_DEUDOR'
}
conv_ant={
    'ruta':'..\..\..\..\BASES DATATOOLS\ASIGNACION\\2019\\ENERO\CONVENIOS_SISTEM_'+Dia_ant+'_'+Mes_ant+'_'+Anio_ant+'.xlsx',
    'hoja':'Hoja1',
    'cartera':'CONVENIOS',
    'identificador':'NUMERO_IDENTIFICACION'
}
dem_ant={
    'ruta':'..\..\..\..\BASES DATATOOLS\ASIGNACION\\2019\\ENERO\Sistema de cobro_'+Dia_ant+'_'+Mes_ant+'_'+Anio_ant+'.xlsx',
    'hoja':'Demografico',
    'cartera':'DEMOGRAFICO',
    'identificador':'IDENTIFICACION_DEUDOR'
}

# LEER ARCHIVOS

In [15]:
arch_corr_act=pd.read_excel(open(corr_act['ruta'],'rb'), sheet_name=corr_act['hoja'], dtype={corr_act['identificador']: str})
arch_corr_ant=pd.read_excel(open(corr_ant['ruta'],'rb'), sheet_name=corr_ant['hoja'], dtype={corr_ant['identificador']: str})
arch_menr_act=pd.read_excel(open(men_act['ruta'],'rb'), sheet_name=men_act['hoja'], dtype={men_act['identificador']: str})
arch_menr_ant=pd.read_excel(open(men_ant['ruta'],'rb'), sheet_name=men_ant['hoja'], dtype={men_ant['identificador']: str})
# arch_conv_act=pd.read_excel(open(conv_act['ruta'],'rb'), sheet_name=conv_act['hoja'], dtype={conv_act['identificador']: str})
# arch_conv_ant=pd.read_excel(open(conv_ant['ruta'],'rb'), sheet_name=conv_ant['hoja'], dtype={conv_ant['identificador']: str})

## COLUMNA DE COMPARACION

In [16]:
base_actual = arch_corr_act
base_anterior = arch_corr_ant
cartera_act = corr_act

# base_actual=arch_menr_act
# base_anterior=arch_menr_ant
# cartera_act=men_act

# base_actual=arch_conv_act
# base_anterior=arch_conv_ant
# cartera_act=conv_act



base_anterior['new']='si'
multa_anterior=base_anterior[['NUMERO_CUENTA','new']]
ced_anteriores=base_anterior[['IDENTIFICACION_DEUDOR','new']]

### CRUCE PARA COMPARAR

In [17]:
cruce_multas=pd.merge(base_actual,multa_anterior,on='NUMERO_CUENTA',how='left')

### FILTRO POR VALORES NULOS

In [18]:
nuevas_multas=cruce_multas[cruce_multas['new'].isnull()]

In [19]:
nuevas_multas = nuevas_multas.fillna('')

In [20]:
#subir multas
contador_subidos=0
for row in base_actual.itertuples():
    insert_querry="""INSERT INTO `SISTEMECUADOR_ATM`.`MULTAS_MENSUALES` 
                        (`Cedula`, `No_multa`, `Anio`, `Mes`, `Dia`, 
                         `Dias_mora`, `Saldo`, `Cartera`, `Segmento`, 
                         `Descripcion`, `Placa`) 
                  VALUES('{0}', '{1}', '{2}', '{3}', 
                          '{4}', '{5}', '{6}', '{7}', '{8}',
                          '{9}', '{10}');
    """.format(row.IDENTIFICACION_DEUDOR , row.NUMERO_CUENTA , Anio_act , Mes_act ,
                 Dia_act ,row.DIAS_MORA , row.SALDO , cartera_act['cartera'] , row.SUBCAMPANAPORCLIENTE ,
                row.DESCRIPCION_INFRACION,row.PLACA_VEHICULO)
    try:
        insert=cur.execute(insert_querry)
        db.commit()
        contador_subidos=contador_subidos+1
    except:
        db.rollback()
    
print("CANTIDAD DE MULTAS QUE FUERON SUBIDOS : "+str(contador_subidos))

CANTIDAD DE MULTAS QUE FUERON SUBIDOS : 171

In [21]:
info_subidos=0
contador_subidos=0
for row in base_actual.itertuples():
    CEDULA=row.IDENTIFICACION_DEUDOR
    if len(CEDULA)==9 or len(CEDULA)==12 :
        if CEDULA.isdigit():
            CEDULA='0'+CEDULA
    info_querry="""INSERT INTO `SISTEMECUADOR_ATM`.`INFORMACION_CLIENTE` 
                    (`CEDULA`, `TIPO_IDENTIFICACION`, `RAZON_SOCIAL`,`PRIMER_APELLIDO`, 
                     `SEGUNDO_APELLIDO`, `PRIMER_NOMBRE`, `SEGUNDO_NOMBRE`) 
                    VALUES ('{0}', '{1}', '{2}', '{3}', '{4}', '{5}','{6}');
                """.format(CEDULA,row.TIPO_IDENTIFICACION,row.RAZONSOCIAL,
                           row.PRIMER_APELLIDO,row.SEGUNDO_APELLIDO,row.PRIMER_NOMBRE,
                          row.SEGUNDO_NOMBRE)
    try:
        insert=cur.execute(info_querry)
        db.commit()
        info_subidos=info_subidos+1
    except:
        db.rollback()
        
    insert_querry_DB="""INSERT INTO `SISTEMECUADOR_ATM`.`MULTAS` 
                            (`NUMERO_CUENTA`, `ID_CEDULA`, 
                            `SALDO`, `DIAS_MORA`)
                            VALUES ('{0}', '{1}', 
                            '{2}', '{3}');
    """.format(row.NUMERO_CUENTA,CEDULA,row.SALDO,row.DIAS_MORA )
    try:
        insert=cur.execute(insert_querry_DB)
        db.commit()
        contador_subidos=contador_subidos+1
    except:
        db.rollback()
        
    
print("CANTIDAD DE INFRACTORES QUE FUERON SUBIDOS : "+str(info_subidos))
print("CANTIDAD DE MULTAS QUE FUERON SUBIDOS : "+str(contador_subidos))

CANTIDAD DE INFRACTORES QUE FUERON SUBIDOS : 59
CANTIDAD DE MULTAS QUE FUERON SUBIDOS : 171

In [22]:
# INFRACTORES NUEVOS|1|

In [23]:
cruce_cedulas=pd.merge(base_actual,ced_anteriores,on='IDENTIFICACION_DEUDOR',how='left')
nuevas_cedulas=cruce_cedulas[cruce_cedulas['new'].isnull()]
nuevas_cedulas= nuevas_cedulas.fillna('')

In [24]:
nuevo_archivo='NUEVAS CEDULAS DICCIEMBRE CORRIENTE.xlsx'
writer = pd.ExcelWriter(nuevo_archivo, engine='xlsxwriter')
nuevas_cedulas.to_excel(writer, sheet_name='GESTION')
worksheet = writer.sheets['GESTION']
writer.save()

In [25]:
# base_actual = arch_corr_act
# base_anterior = arch_corr_ant
# cartera_act = corr_act

base_actual=arch_menr_act
base_anterior=arch_menr_ant
cartera_act=men_act

# base_actual=arch_conv_act
# base_anterior=arch_conv_ant
# cartera_act=conv_act



base_anterior['new']='si'
multa_anterior=base_anterior[['NUMERO_CUENTA','new']]
ced_anteriores=base_anterior[['IDENTIFICACION_DEUDOR','new']]

In [26]:
cruce_multas=pd.merge(base_actual,multa_anterior,on='NUMERO_CUENTA',how='left')

In [27]:
nuevas_multas=cruce_multas[cruce_multas['new'].isnull()]

In [28]:
nuevas_multas = nuevas_multas.fillna('')

In [29]:
#subir multas
contador_subidos=0
for row in base_actual.itertuples():
    insert_querry="""INSERT INTO `SISTEMECUADOR_ATM`.`MULTAS_MENSUALES` 
                        (`Cedula`, `No_multa`, `Anio`, `Mes`, `Dia`, 
                         `Dias_mora`, `Saldo`, `Cartera`, `Segmento`, 
                         `Descripcion`, `Placa`) 
                  VALUES('{0}', '{1}', '{2}', '{3}', 
                          '{4}', '{5}', '{6}', '{7}', '{8}',
                          '{9}', '{10}');
    """.format(row.IDENTIFICACION_DEUDOR , row.NUMERO_CUENTA , Anio_act , Mes_act ,
                 Dia_act ,row.DIAS_MORA , row.SALDO , cartera_act['cartera'] , row.SUBCAMPANAPORCLIENTE ,
                row.DESCRIPCION_INFRACION,row.PLACA_VEHICULO)
    try:
        insert=cur.execute(insert_querry)
        db.commit()
        contador_subidos=contador_subidos+1
    except:
        db.rollback()
    
print("CANTIDAD DE MULTAS QUE FUERON SUBIDOS : "+str(contador_subidos))

CANTIDAD DE MULTAS QUE FUERON SUBIDOS : 43

In [30]:
info_subidos=0
contador_subidos=0
for row in base_actual.itertuples():
    CEDULA=row.IDENTIFICACION_DEUDOR
    if len(CEDULA)==9 or len(CEDULA)==12 :
        if CEDULA.isdigit():
            CEDULA='0'+CEDULA
    info_querry="""INSERT INTO `SISTEMECUADOR_ATM`.`INFORMACION_CLIENTE` 
                    (`CEDULA`, `TIPO_IDENTIFICACION`, `RAZON_SOCIAL`,`PRIMER_APELLIDO`, 
                     `SEGUNDO_APELLIDO`, `PRIMER_NOMBRE`, `SEGUNDO_NOMBRE`) 
                    VALUES ('{0}', '{1}', '{2}', '{3}', '{4}', '{5}','{6}');
                """.format(CEDULA,row.TIPO_IDENTIFICACION,row.RAZONSOCIAL,
                           row.PRIMER_APELLIDO,row.SEGUNDO_APELLIDO,row.PRIMER_NOMBRE,
                          row.SEGUNDO_NOMBRE)
    try:
        insert=cur.execute(info_querry)
        db.commit()
        info_subidos=info_subidos+1
    except:
        db.rollback()
        
    insert_querry_DB="""INSERT INTO `SISTEMECUADOR_ATM`.`MULTAS` 
                            (`NUMERO_CUENTA`, `ID_CEDULA`, 
                            `SALDO`, `DIAS_MORA`)
                            VALUES ('{0}', '{1}', 
                            '{2}', '{3}');
    """.format(row.NUMERO_CUENTA,CEDULA,row.SALDO,row.DIAS_MORA )
    try:
        insert=cur.execute(insert_querry_DB)
        db.commit()
        contador_subidos=contador_subidos+1
    except:
        db.rollback()
        
    
print("CANTIDAD DE INFRACTORES QUE FUERON SUBIDOS : "+str(info_subidos))
print("CANTIDAD DE MULTAS QUE FUERON SUBIDOS : "+str(contador_subidos))

CANTIDAD DE INFRACTORES QUE FUERON SUBIDOS : 0
CANTIDAD DE MULTAS QUE FUERON SUBIDOS : 43

In [31]:
cruce_cedulas=pd.merge(base_actual,ced_anteriores,on='IDENTIFICACION_DEUDOR',how='left')
nuevas_cedulas=cruce_cedulas[cruce_cedulas['new'].isnull()]
nuevas_cedulas= nuevas_cedulas.fillna('')

In [32]:
nuevo_archivo='NUEVAS CEDULAS DICCIEMBRE MENORES.xlsx'
writer = pd.ExcelWriter(nuevo_archivo, engine='xlsxwriter')
nuevas_cedulas.to_excel(writer, sheet_name='GESTION')
worksheet = writer.sheets['GESTION']
writer.save()

In [33]:
# DEMOGRAFICOS NUEVOS

In [44]:
arch_dem_act=pd.read_excel(open(dem_act['ruta'],'rb'), sheet_name=dem_act['hoja'])
arch_dem_ant=pd.read_excel(open(dem_ant['ruta'],'rb'), sheet_name=dem_ant['hoja'])

In [45]:
arch_dem_act=arch_dem_act[['IDENTIFICACION_DEUDOR','TELEFONO']]
arch_dem_ant=arch_dem_ant[['IDENTIFICACION_DEUDOR','TELEFONO']]

In [46]:
arch_dem_ant['new']='si'
cruce_demografico=pd.merge(arch_dem_act,arch_dem_ant,on=['IDENTIFICACION_DEUDOR','TELEFONO'],how='left')
nuevas_demograficos=cruce_demografico[cruce_demografico['new'].isnull()]
nuevas_demograficos= nuevas_demograficos.fillna('')
nuevas_demograficos

       IDENTIFICACION_DEUDOR   TELEFONO new
23492              912624434  996377820
23493              912624434  990655100
23494              912624434  990655642
23495              912624434  990628213
23496              912624434   81644615
23579              912655628  993363378
23580              912655628  986493492
23581              912655628   42056934
23582              912655628   42056934
23583              912655628  994060036
23584              912655628  993363378
23585              912655628  993092127
23586              912655628  994060036
23587              912655628  986493492
23588              912655628  993092127
23672              912667847   42463963
23673              912667847  980692812
23674              912667847  986190918
23675              912667847  968604110
23676              912667847  994181997
23677              912667847  990940032
23678              912667847  989017916
23679              912667847  993337734
23680              912667847  939108361
24122              912874997  980176428
24536              913070330  995954803
24537              913070330   42040908
26219              913767109   42228182
26220              913767109  986399232
26352              913827465  994349432
...                      ...        ...  ..
43030              920046786  992369205
43031              920046786  985544837
43032              920046786  980446174
43033              920046786   42374427
43034              920046786  979412434
43375              920227923   42100249
43376              920227923  990189633
43377              920227923   42100354
43378              920227923  979459902
43379              920227923   42033623
43488              920303286  939650630
43489              920303286  969185039
43490              920303286  992446433
43491              920303286  980909448
43574              920337532  983537364
43575              920337532   42050243
43905              920496791  967407273
43906              920496791  996866440
43907              920496791  988831660
43908              920496791  980430743
43909              920496791  967407272
43910              920496791  967407286
43911              920496791   42190418
44378              920763729   42421145
44379              920763729  990873479
44380              920763729   42844283
44381              920763729  999666530
69787             1204922940  985060297
69788             1204922940  939812867
69789             1204922940   42675430

[255 rows x 3 columns]

In [47]:
nuevo_archivo='NUEVOS DEMOGRAFICOS DICCIEMBRE.xlsx'
writer = pd.ExcelWriter(nuevo_archivo, engine='xlsxwriter')
nuevas_demograficos.to_excel(writer, sheet_name='DEMOGRAFICOS')
worksheet = writer.sheets['DEMOGRAFICOS']
writer.save()